body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfdb4;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #005a9c; /* Um azul Django */
}

ul {
    background-color: #d8f9ff;
    border: 1px solid #070606;
    padding: 15px;
}

li {
    list-style-type: square;
}